@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    outline: none;
}
a:focus{
    outline: none;
}
div.success p{
    text-align: center;
    color: #f8a406;
    width: max-content;
    margin: 0 auto;
}
div.error p{
    text-align: center;
    color: #a90707;
    width: max-content;
    margin: 0 auto;
}
header nav .menu div{
    color: #290034;
}
main .cardContent{
    display: flex;
    flex-direction: column;
}
.login form input{
    width: 100%;
}
.login form input[type='submit']{
    max-width: 150px;
}